# =============== #
# Unity generated #
# =============== #
Temp/
Library/


# ========================================== #
# Visual Studio / MonoDevelop / Vi generated #
# ========================================== #
*.csproj
*.sln
*.swp

# ============ #
# OS generated #
# ============ #
.DS_Store
