# =============== #
# Unity generated #
# =============== #
Temp/
Library/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.sln

# ============ #
# OS generated #
# ============ #
.DS_Store
